[alias]
    hist = log --oneline --graph --decorate

[user]
	name = Daniel M Sussman
    email = dmsussman@gmail.com
[color]
    ui = true

[push]
    autoSetupRemote = true

[core]
    editor = vim
	excludesFile = ~/.globalGitignore
    autocrlf = input

[init]
    defaultBranch = main
